# .gitignore
*.pyc                       
__pycache__          
*~       
#For environment variables
.env*
#For SQLite files
*.sqlite3
#For static files.                                                   
staticfiles
#For pytest
.pytest_cache
#For coverage
.coverage
htmlcov
#Visual Studio Code Workspace
*.code-workspace
#Temporarily ignore Dockefile
Dockerfile
