# .gitignore
*.pyc                       
__pycache__          
*~       
#For SQLite files
*.sqlite3
#For static files.                                                   
/static
#For pytest
.pytest_cache
#For coverage
.coverage
htmlcov
#Visual Studio Code Workspace
*.code-workspace

