[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
whitenoise = "*"
gunicorn = "*"
django-extensions = "*"
django-debug-toolbar = "*"
pytest-dotenv = "*"

[dev-packages]
pytest-django = "*"
pytest-cov = "*"
selenium = "*"
isort = "*"

[requires]
python_version = "3.9"
