{% load i18n %}{% autoescape off %}
{% translate 'Hello' %} {{ user.get_username }},

{% blocktranslate %}We received a request to reset your password for {{ site_name }}.
{% endblocktranslate %}
{% translate "Please follow the link below to reset your password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'As a reminder, your current username is:' %} {{ user.get_username }}

{% translate "Thank you!" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}