{% extends "base.html" %}

{% block title %} Site Name {% endblock %}

{% block content %}
  <!-- When setting up a new project, delete this block -->
  <h1>DJANGO SKELETON</h1>
    <p>
      <i>"A Django project starter template preconfigured with bare bones functionality."</i>
      <br><br>
      Learn more at the project <a href="https://github.com/fiofury1/django-skeleton" target="_blank"  rel="noreferrer noopener">GitHub repo</a>.
      <br><br>
      Begin template...
    </p>
  <hr>
  <!-- End delete -->

  <h1>SITE NAME</h1>
  {% if user.is_authenticated %}
    <p>User: {{ user.username }}</p>
    <p>Site content here.</p>
    <p><a href="{% url 'logout' %}">Log Out</a></p>
  {% else %}
    <p>Access Denied.  Please login to view content.</p>
    <p><a href="{% url 'login' %}">Log In</a></p>
    <p><a href="{% url 'signup' %}">Sign Up</a></p>
  {% endif %}



{% endblock %}